<div class="container">
  <section>
    <h1>Choose game</h1>
    <div class="img">
      <img [ngStyle]="{width: '800px'}" [src]="imgUrl">
    </div>

  </section>
  <section>
    <div *ngIf='toggle'>
      <ul>
        <!-- <li *ngFor="let i of games; let j=index">
          <a [ngClass]="{class:true}" routerLink="{{i}}">{{i | slice:1:11}}</a>
        </li> -->
        <li>
          <a routerLink="clashofclans">{{game1 | uppercase}}</a>
        </li>
        <li>
          <a routerLink="clashroyale">{{game2 | uppercase}}</a>
        </li>
        <li>
          <a routerLink="brawlstars">{{game3 | uppercase}}</a>
        </li>
      </ul>
    </div>
    <button (click)="toggleGames()">Toggle</button>
  </section>


  <!-- <section>
    <div class="addGame">
      <h2>Add new game:</h2>

      <input type="text" [placeholder]="addGame | uppercase">

      <button type="button" name="button">Add game</button>
    </div>
  </section> -->

  <!-- <section>
    <div [ngStyle]="{
      width: '200px',
      borderRadius: '5px',
      border: '1px solid #ccc',
      marginBottom: '40px',
      marginTop: '30px',
      textAlign: 'center',
      paddingTop: '100px',
      paddingBottom: '100px',
      background: backgroundToggle ? 'red' : 'green'
    }">
      Account
    </div>
    <button (click)="backgroundToggle = !backgroundToggle" [ngStyle]="{
      width: '100px',
      height: '20px',
      marginBottom: '40px'
    }">Change color</button>
  </section> -->

  <app-accounts></app-accounts>

</div>
