<div class="header">
	<div class = "container">
		<div class="heading">
			<nav>
				<ul class="menu">
					<li>
						<a routerLink="/">Home</a>
					</li>
					<li>
						<a routerLink="/selling">Selling</a>
					</li>
					<li>
						<a routerLink="/about">About MM</a>
					</li>
					<li>
						<a routerLink="/signin">Signin</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<router-outlet></router-outlet>

<footer>
			<div class="ft-top">

			<div class="container">
				<div class="all-row clearfix">
					<div class="column">
						<h4>About Us</h4>
						<p>Our website ensures that great customer service is a top priority. And beyond making sure that we uphold great work, we’ll also go that extra mile to make your experience the best.</p>
					</div>
					<div class="column">
						<h4>Get News & offers</h4>
						<form method="get">
							<div class="input1">
								<input type="text" placeholder="Enter your mail">
							</div>
							<div class="input2">
								<a href="">Submit</a>
							</div>
						</form>
					</div>
					<div class="column">
						<h4>Contact Us</h4>
						<p>+7 747 633 8071</p>
						<p>@example.com</p>
						<p>www.gameshop.kz</p>
					</div>
				</div>
			</div>
		</div>
		<hr width="930px" color="#333333">
		<div class="ft-bot">
			<div class="container">
				<p>@2020 GameShop</p>
			</div>
		</div>
</footer>
